[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bivalve = "*"
xeno = "*"
dataclass-wizard = {extras = ["yaml"], version = "*"}

[dev-packages]
neovim = "*"
shortuuid = "*"
black = "*"

[requires]
python_version = "3.11"
